<%-include('./layouts/header.ejs')%>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <h2 class="text-center bg-info">profile</h2>
                <div class="card">
                    <img src="<%= i.url%>" alt="" width="" style="border-radius: 30px ;">
                    <div class="card-body">
                        <h4>NAME:<%=n%></h4>
                        <h4>EMAIL:<%=e%>
                        </h4>
                        <br>
                        <button data-bs-toggle="modal" data-bs-target="#updateprofile" class="btn btn-primary">update
                            profile</button>

                            <button data-bs-toggle="modal" data-bs-target="#changepassword" class="btn btn-info">change password
                                </button>
                    </div>
                </div><!--card end-->
            </div>
            <div class="col-md-4"></div>

        </div><!--row end-->

        <div class="modal fade" id="updateprofile">
            <div class="modal-dialog"> <!--model xl,sm,lg-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-tittle"> Registration Form</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div><!--modal-header end-->
                    <div class="modal-body">
                        <form action="/courseInsert" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                Name
                                <input type="text" name="name" value="<%= n%>" placeholder="Enter name" class="form-control">
                            </div>
                            <div class="mb-3">
                                email
                                <input type="email" placeholder="Email" value="<%= e%>" name="email" class="form-control">
                            </div>
                            <div class="mb-3">
                                    Phone
                                <input type="number" placeholder="phone no." name="phone" class="form-control">
                            </div>
                            <div class="mb-3">
                                D.O.B.
                                <input type="date" placeholder=" Enter D.O.B." name="dob" class="form-control">
                            </div>
                            <div class="mb-3">
                                    Address
                                    <textarea name="address"  placeholder="Enter address" class="form-control"></textarea>
                            </div>
                            <div class="mb-3">
                                    Gender <input type="radio" name="gender" class="mr-2" value="Male" readonly>Male <input type="radio" name="gender" value="Female" readonly>Female 
                            </div>
                            <div class="mb-5">
                                Qualification
                                <select name="qualification" readonly class="form-control">
                                    <option value="Qualification">Qualification</option>
                                    <option value="12th in Mathematics" >12th in Mathematics</option>
                                </select>
                            <div class="mb-5">
                                Course
                            <input type="text" value="B.Tech." class="form-control" name="course" readonly>
                        </div>
                            <div class="mb-3">
                                <button class="btn btn-info" type="submit">Sumbit</button>
                            </div>
                        </form>
                    </div><!--modal-body end-->
                </div><!--modal content end-->
            </div><!--modal-dialog end-->
        </div><!--modal end-->
    
        <div class="modal fade" id="changepassword">
            <div class="modal-dialog"> <!--model xl,sm,lg-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-tittle"> Registration Form</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div><!--modal-header end-->
                    <div class="modal-body">
                        <form action="/courseInsert" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                Name
                                <input type="text" name="name" value="<%= n%>" placeholder="Enter name" class="form-control">
                            </div>
                            <div class="mb-3">
                                email
                                <input type="email" placeholder="Email" value="<%= e%>" name="email" class="form-control">
                            </div>
                            <div class="mb-3">
                                    Phone
                                <input type="number" placeholder="phone no." name="phone" class="form-control">
                            </div>
                            <div class="mb-3">
                                D.O.B.
                                <input type="date" placeholder=" Enter D.O.B." name="dob" class="form-control">
                            </div>
                            <div class="mb-3">
                                    Address
                                    <textarea name="address"  placeholder="Enter address" class="form-control"></textarea>
                            </div>
                            <div class="mb-3">
                                    Gender <input type="radio" name="gender" class="mr-2" value="Male" readonly>Male <input type="radio" name="gender" value="Female" readonly>Female 
                            </div>
                            <div class="mb-5">
                                Qualification
                                <select name="qualification" readonly class="form-control">
                                    <option value="Qualification">Qualification</option>
                                    <option value="12th in Mathematics" >12th in Mathematics</option>
                                </select>
                            <div class="mb-5">
                                Course
                            <input type="text" value="B.Tech." class="form-control" name="course" readonly>
                        </div>
                            <div class="mb-3">
                                <button class="btn btn-info" type="submit">Sumbit</button>
                            </div>
                        </form>
                    </div><!--modal-body end-->
                </div><!--modal content end-->
            </div><!--modal-dialog end-->
        </div><!--modal end-->

    </div><!--container end-->
    <%-include('./layouts/footer.ejs')%>